body {
    font-family: "happy monkey";
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: white;
}


h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#anos {
    background: #EFB0C9;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0 10px 0;
}

#data {
    margin: 0;
    background: #EFB0C9;
    border-radius: 5px;
    padding: 5px 10px;
}
#foto {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gifts {
    margin-top: 50px;
    text-align: center;
}

.titulo {
    margin-bottom: 10px;
}

.mouse {
    margin-top: 0;
}
.presente {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border: 3px dotted white;
    border-radius: 10px;
    background-image: url(/imagens/presente.png);
    background-size: cover;
}

#gif1:hover {
    background-image: url(/imagens/friends.gif);
    background-size: cover;

}

#gif2:hover {
    background-image: url(/imagens/hot.gif);
    background-size: cover;
}

#gif3:hover {
    background-image: url(/imagens/Strong-Man-Logo-Graphics-22160462-1-1-580x386.jpg);
    background-size:inherit;

}

#gif4:hover {
    background-image: url(/imagens/flamengo.gif);
    background-size:cover }

#gif5 {
    height: 200px;
}
#gif5:hover {
  
    background-image: url(/imagens/di\ caprio.gif);
    background-size: cover;
}